body {
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
}
.container {
  display: block;
  width: 400px;
  margin: 100px auto 0;
}
h1 {
  text-align: center;
  border: 1px solid black;
}
label[for='new-player'] {
  display: block;
  margin: 0 0 20px;
}
input#new-player {
  float: left;
  width: 318px;
}

select#range-options{
  width: 318px;
}
button#upper{
  display: inline;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}